<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Exercise 3 Frontend Mentor</title>
</head>
<body>
    <article class="container">
        <section class="container__top">
            <header>
                <h2 class="text-big text-cyan">
                    Join our community
                </h2>
                <p class="text-medium text-lime">
                    30-day, hassle-free money back guarantee
                </p>
            </header>
            <p class="text-normal text-grey">
                Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.
            </p>
        </section>
        <section class="container__left text-white">
            <header>
                <h3 class="text-medium">
                    Monthly Subscription
                </h3>
            </header>
            <p>
                <span class="text-extra-big">$29</span>
                <span class="text-transparent">per Month</span>
            </p>
            <p>Full access for less than $1 a day</p>
            <a href="#" class="button">Sign Up</a>
        </section>
        <section class="container__right text-white">
            <header>
                <h3 class="text-medium">
                    Why Us
                </h3>
            </header>
            <ul class="list">
                <li class="list__item text-small">Tutorials by industry experts</li>
                <li class="list__item text-small">Peer & expert code review</li>
                <li class="list__item text-small">Coding exercises</li>
                <li class="list__item text-small">Access to our GitHub repos</li>
                <li class="list__item text-small">Community forum</li>
                <li class="list__item text-small">Flashcard decks</li>
                <li class="list__item text-small">New videos every week</li>
            </ul>
        </section>
    </article>
</body>
</html>